/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

/* code */

:root {
  --primary-one: #f1f1f1;
  --text-color: #171717;
  --secondary-one: #f266ab;
  --secondary-two: #ffb84c;
  --secondary-three: #a459d1;
  --secondary-four: #2cd3e1;
  --secondary-five: #fbaed5;
}

* {
  box-sizing: border-box;
  font-family: "Young Serif", serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--primary-one);
  color: var(--text-color);
}

header {
  background-color: var(--secondary-one);
  display: flex;
  flex-direction: row;
}

header h3 {
  padding: 0.5rem;
  align-items: start;
}

nav {
  display: flex;
  flex-direction: row;
  text-decoration: underline wavy 1px;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
}

nav a {
  color: var(--text-color);
}

nav a:visited {
  color: var(--text-color);
}

/* main */

h1 {
  /* font-family: 'Rock Salt', cursive; */
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

.notes {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-three);
  margin: 1rem;
  border-radius: 16px 0 16px 0;
}

.notes-title h2 {
  position: absolute;
  font-family: "Pixelify Sans", sans-serif;
  background-color: var(--secondary-two);
  padding: 0.2em 1em 0.5em 0.5em;
  border-radius: 16px 0 16px 0;
  font-size: 2.5em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  padding: 0.3rem 1rem 1rem 1rem;
}

button {
  font-size: 2.5rem;
}

/* collapsible: https://www.w3schools.com/howto/howto_js_collapsible.asp  */

.collapsible-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.collapsible {
  display: flex;
  background-color: var(--secondary-one);
  color: var(--text-color);
  cursor: pointer;
  padding: 1.2em;
  width: 30rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  color: var(--primary-one);
  background-color: var(--secondary-three);
}

.content {
  display: none;
  overflow: hidden;
  background-color: var(--secondary-five);
  width: 30rem;
}
