/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

/* code */

:root {
  --primary-one: #f1f1f1;
  --text-color: #171717;
  --secondary-one: #f266ab;
  --secondary-two: #ffb84c;
  --secondary-three: #a459d1;
  --secondary-four: #2cd3e1;
  --secondary-five: #fbaed5;
}

* {
  box-sizing: border-box;
  font-family: "Young Serif", serif;
  padding: 0;
  margin: 0;
  cursor: url('/assets/cursor.png'), auto;
}

body {
  background-color: var(--primary-one);
  color: var(--text-color);
}

header {
  background-color: var(--secondary-one);
  display: flex;
  flex-direction: row;
}

header h3 {
  padding: 0.5rem;
  align-items: start;
}

nav {
  display: flex;
  flex-direction: row;
  text-decoration: underline wavy 1px;
}

ul {
  list-style: none;
}

li {
  padding: 0.5rem;
}

nav a {
  color: var(--text-color);
}

nav a:visited {
  color: var(--text-color);
}

/* main */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-size: 3.4rem;
  text-align: center;
  padding: 1rem;
}

.notes {
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-three);
  margin: 1rem;
  border-radius: 16px 0 16px 0;
}

.notes-title h2 {
  position: absolute;
  background-color: var(--secondary-two);
  padding: 0.2em 1em 0.5em 0.5em;
  border-radius: 16px 0 16px 0;
  font-size: 2.5em;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.95rem;
  padding: 0.3rem 1rem 1rem 1rem;
}

button {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 2.5rem;
}

/* collapsible: https://www.w3schools.com/howto/howto_js_collapsible.asp  */

.collapsible-note {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5em;
  width: 80vw;
  max-width: 25rem;
  cursor: url('assets/cursor.png'), auto;
}

.collapsible {
  display: flex;
  background-color: var(--secondary-one);
  color: var(--text-color);
  font-size: 1rem;
  padding: 1.2rem;
  border: none;
  text-align: left;
  cursor: url('/assets/cursor.png'), auto;
}

.active,
.collapsible:hover {
  color: var(--primary-one);
  background-color: var(--secondary-three);
}

.content {
  background-color: var(--secondary-five);
  height: 10rem;
  overflow: scroll;
  padding: 0 1.2rem;
  transition: max-height 0.2s ease-out;
  scrollbar-color: var(--secondary-one) var(--secondary-five);
  cursor: url('/assets/cursor.png'), auto;
}

em {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* open close indicator */

.collapsible::before {
  content: "+";
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 1.2rem;
  padding-right: 2rem;
  float: right;
}

.active:before {
  content: "-";
}

/* media query */

@media only screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    align-items: center;
    justify-items: center;
  }

  .collapsible-note {
    width: 100%;
    max-width: 30rem;
  }
}
